In [3]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine
import logging

In [4]:
# Function to load and analyze data
def analyze_data(file_path):
    try:
        df = pd.read_csv(file_path)
        print(f"Data from {file_path}")
        print("\nHead of the DataFrame:")
        display(df.head())
        print("\nInfo of the DataFrame:")
        display(df.info())
        print("\nDescribe the DataFrame:")
        display(df.describe(include='all'))
    except Exception as e:
        print(f"Error processing file {file_path}: {e}")

# Analyze cheMed dataset
print("Analyzing cheMed dataset")
analyze_data('../Telegram_Scraper/cheMed123_data.csv') 
print("="*80)

Analyzing cheMed dataset
Data from ../Telegram_Scraper/cheMed123_data.csv

Head of the DataFrame:

,Channel Title,Channel Username,ID,Message,Date,Media Path
0,CheMed,@CheMed123,97,"‚ö†Ô∏èNotice!\nDear esteemed customers,\nDue to fo...",2023-02-10 12:23:06+00:00,photos\@CheMed123_97.jpg
1,CheMed,@CheMed123,96,Mela-One ·â†·ãç·àµ·å° ·àÜ·à≠·àû·äï ·ã´·àà·ãç ·ãµ·äï·åà·â∞·äõ ·ãà·àä·ãµ ·àò·âÜ·å£·å†·à≠·ã´ ·à≤·àÜ·äï ·ã´·àà...,2023-02-02 08:58:52+00:00,photos\@CheMed123_96.jpg
2,CheMed,@CheMed123,95,·ä†·ãö·âµ·àÆ·àõ·ã≠·à≤·äï ·â†·àÉ·ä™·àù ·àò·ãµ·àÉ·äí·âµ ·àõ·ãò·ã£ ·ä®·àö·â≥·ãò·ãô ·ä†·äï·â≤·â£·ãÆ·â≤·äÆ·âΩ ·ä†·äï·ã± ·à≤·àÜ·äï...,2023-02-01 08:59:37+00:00,photos\@CheMed123_95.jpg
3,CheMed,@CheMed123,94,Che-Med Trivia #3\n\n·àù·åç·â•·äì ·àò·å†·å¶·âΩ ·ä†·äï·ã≥·äï·ãµ ·àò·ãµ·àÉ·äí·â∂·âΩ ·â†·ã∞...,2023-01-31 09:19:53+00:00,photos\@CheMed123_94.jpg
4,CheMed,@CheMed123,93,"Che-Med Trivia #2\n\n·ä•·äï·ã∞ Ciprofloxacin, Doxycy...",2023-01-30 09:45:25+00:00,photos\@CheMed123_93.jpg

Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel Title     76 non-null     object
 1   Channel Username  76 non-null     object
 2   ID                76 non-null     int64
 3   Message           63 non-null     object
 4   Date              76 non-null     object
 5   Media Path        72 non-null     object
dtypes: int64(1), object(5)
memory usage: 3.7+ KB

None

Describe the DataFrame:

,Channel Title,Channel Username,ID,Message,Date,Media Path
count,76,76,76.000000,63,76,72
unique,1,1,NaN,59,76,72
top,CheMed,@CheMed123,NaN,www.chemeds.org ·àò·ãµ·àÄ·äí·âµ·ãé·äï ·àà·àõ·åç·äò·âµ ·ãò·àò·äì·ãä·ãç ·àò·äï·åà·ãµ ·äê·ãç·ç°·ç° ...,2023-02-10 12:23:06+00:00,photos\@CheMed123_97.jpg
freq,76,76,NaN,2,1,1
mean,NaN,NaN,49.710526,NaN,NaN,NaN
std,NaN,NaN,29.149187,NaN,NaN,NaN
min,NaN,NaN,1.000000,NaN,NaN,NaN
25%,NaN,NaN,24.500000,NaN,NaN,NaN
50%,NaN,NaN,49.500000,NaN,NaN,NaN
75%,NaN,NaN,76.250000,NaN,NaN,NaN
max,NaN,NaN,97.000000,NaN,NaN,NaN

================================================================================

In [6]:
# Analyze Doctorset dataset
print("Analyzing Doctorset dataset")
analyze_data('../Telegram_Scraper/DoctorsET_data.csv')
print("="*80)

Analyzing Doctorset dataset
Data from ../Telegram_Scraper/DoctorsET_data.csv

Head of the DataFrame:

,Channel Title,Channel Username,ID,Message,Date,Media Path
0,Doctors Ethiopia,@DoctorsET,864,https://youtu.be/5DBoEm-8kmA?si=LDLuEecNfULJVD...,2023-12-18 17:04:02+00:00,photos\@DoctorsET_864.jpg
1,Doctors Ethiopia,@DoctorsET,863,·ã∂·ä≠·â∞·à≠·àµ ·ä¢·âµ·ãÆ·åµ·ã´ ·â† ·ä†·ã≤·àµ ·ä†·âÄ·à´·à®·â• ·â† ·â¥·àå·â™·ã•·äï ·çï·àÆ·åç·à´·àô·äï ·àà·àò·åÄ·àò·à≠ ·ä®...,2023-11-03 16:14:39+00:00,photos\@DoctorsET_863.jpg
2,Doctors Ethiopia,@DoctorsET,862,·àû·âµ ·â†·àµ·ä≥·à≠ \n\n·àà·àç·åÜ·âª·âΩ·äï ·ã®·àù·äì·à≤·ãò·ãç ·àù·à≥·âÉ ·à≥·äì·âÄ·ãç ·ä•·ãµ·àö·ã´·â∏·ãç·äï ·ã≠·âÄ·äï...,2023-10-02 16:37:39+00:00,photos\@DoctorsET_862.jpg
3,Doctors Ethiopia,@DoctorsET,861,·ä® HIV ·ã®·â∞·çà·ãà·à∞ ·à∞·ãç ·ä†·åã·å•·àü·âΩ·àÅ ·ã´·âÉ·àç ? ·çà·ãç·àµ ·ä•·äì ·àÖ·ä≠·àù·äì ?\n\n·àô...,2023-09-16 07:54:32+00:00,photos\@DoctorsET_861.jpg
4,Doctors Ethiopia,@DoctorsET,860,·â†·âÖ·à≠·â• ·åä·ãú ·â†·àÉ·åà·à´·âΩ·äï ·àã·ã≠ ·ä•·ã®·â∞·àµ·â∞·ãã·àà ·ã´·àà ·ã®·â∞·àò·à≥·à≥·ã≠ ·çÜ·â≥ ( Homos...,2023-09-01 16:16:15+00:00,photos\@DoctorsET_860.jpg

Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 803 entries, 0 to 802
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel Title     803 non-null    object
 1   Channel Username  803 non-null    object
 2   ID                803 non-null    int64
 3   Message           605 non-null    object
 4   Date              803 non-null    object
 5   Media Path        610 non-null    object
dtypes: int64(1), object(5)
memory usage: 37.8+ KB

None

Describe the DataFrame:

,Channel Title,Channel Username,ID,Message,Date,Media Path
count,803,803,803.000000,605,803,610
unique,1,1,NaN,591,743,610
top,Doctors Ethiopia,@DoctorsET,NaN,#Dailytips \n#DOCTORSETHIOPIA,2022-02-04 18:22:07+00:00,photos\@DoctorsET_864.jpg
freq,803,803,NaN,7,9,1
mean,NaN,NaN,432.118306,NaN,NaN,NaN
std,NaN,NaN,245.731048,NaN,NaN,NaN
min,NaN,NaN,1.000000,NaN,NaN,NaN
25%,NaN,NaN,219.500000,NaN,NaN,NaN
50%,NaN,NaN,438.000000,NaN,NaN,NaN
75%,NaN,NaN,642.500000,NaN,NaN,NaN
max,NaN,NaN,864.000000,NaN,NaN,NaN

================================================================================

In [7]:
# Analyze EAHCI dataset
print("Analyzing EAHCI dataset")
analyze_data('../Telegram_Scraper/EAHCI_data.csv')
print("="*80)

Analyzing EAHCI dataset
Data from ../Telegram_Scraper/EAHCI_data.csv

Head of the DataFrame:

,Channel Title,Channel Username,ID,Message,Date,Media Path
0,ETHIO-AMERICAN MEDICAL TRAININGS( CPD ) & HEAL...,@EAHCI,2399,üí• ·ä•·àÅ·ãµ ·ã≠·åÄ·àù·à´·àç ·ä•·äï·ã≥·ã´·àò·àç·å•·ãé üí•\n#Obstetric_Ultrasound_...,2024-10-11 15:32:14+00:00,photos\@EAHCI_2399.jpg
1,ETHIO-AMERICAN MEDICAL TRAININGS( CPD ) & HEAL...,@EAHCI,2397,NaN,2024-10-11 14:57:29+00:00,NaN
2,ETHIO-AMERICAN MEDICAL TRAININGS( CPD ) & HEAL...,@EAHCI,2396,üí•·ãõ·à¨ ·ã≠·åÄ·àù·à´·àç\n#·ã®·àû·ã´ ·çà·âÉ·ãµ ·â†·âÖ·à≠·â° ·àà·àù·â≥·à≥·ãµ·à±¬†¬†üí•¬†¬†¬†¬†¬†¬†¬†¬†¬†¬†¬†¬†...,2024-10-10 13:40:09+00:00,photos\@EAHCI_2396.jpg
3,ETHIO-AMERICAN MEDICAL TRAININGS( CPD ) & HEAL...,@EAHCI,2395,üí•\n#·ã®·àû·ã´ ·çà·âÉ·ãµ ·â†·âÖ·à≠·â° ·àà·àù·â≥·à≥·ãµ·à±¬†¬†üí•¬†¬†¬†¬†¬†¬†¬†¬†¬†¬†¬†¬† \n\n#CP...,2024-10-09 10:46:24+00:00,photos\@EAHCI_2395.jpg
4,ETHIO-AMERICAN MEDICAL TRAININGS( CPD ) & HEAL...,@EAHCI,2394,NaN,2024-10-07 10:56:58+00:00,NaN

Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel Title     1000 non-null   object
 1   Channel Username  1000 non-null   object
 2   ID                1000 non-null   int64
 3   Message           796 non-null    object
 4   Date              1000 non-null   object
 5   Media Path        870 non-null    object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

None

Describe the DataFrame:

,Channel Title,Channel Username,ID,Message,Date,Media Path
count,1000,1000,1000.000000,796,1000,870
unique,1,1,NaN,660,915,870
top,ETHIO-AMERICAN MEDICAL TRAININGS( CPD ) & HEAL...,@EAHCI,NaN,#CPD_·â†·â∞·àò·å£·å£·äù_·ä≠·çç·ã´\n#Title_Syndromic Management (...,2024-06-26 17:19:24+00:00,photos\@EAHCI_2399.jpg
freq,1000,1000,NaN,3,5,1
mean,NaN,NaN,1830.715000,NaN,NaN,NaN
std,NaN,NaN,325.835978,NaN,NaN,NaN
min,NaN,NaN,1222.000000,NaN,NaN,NaN
25%,NaN,NaN,1558.750000,NaN,NaN,NaN
50%,NaN,NaN,1833.500000,NaN,NaN,NaN
75%,NaN,NaN,2105.250000,NaN,NaN,NaN
max,NaN,NaN,2399.000000,NaN,NaN,NaN

================================================================================

In [8]:
# Analyze lobelia4cosmetics dataset
print("Analyzing lobelia4cosmetics dataset")
analyze_data('../Telegram_Scraper/lobelia4cosmetics_data.csv')
print("="*80)

Analyzing lobelia4cosmetics dataset
Data from ../Telegram_Scraper/lobelia4cosmetics_data.csv

Head of the DataFrame:

,Channel Title,Channel Username,ID,Message,Date,Media Path
0,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,12411,EUCERIN PIGMENT CONTROL \nPrice 4500 birr \nTe...,2024-10-10 14:47:05+00:00,photos\@lobelia4cosmetics_12411.jpg
1,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,12410,EUCERIN OIL CONTROL \nPrice 4500 birr \nTelegr...,2024-10-10 14:47:05+00:00,photos\@lobelia4cosmetics_12410.jpg
2,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,12409,NEUTROGENA RAPID TONE REPAIR \nPrice 3000 birr...,2024-10-10 14:47:05+00:00,photos\@lobelia4cosmetics_12409.jpg
3,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,12408,NEUTROGENA INVISIBLE DAILY DEFENSE \nPrice 35...,2024-10-10 14:47:05+00:00,photos\@lobelia4cosmetics_12408.jpg
4,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,12407,NEUTROGENA RETINOL SPF 30\nPrice 4500 birr \nT...,2024-10-10 14:47:05+00:00,photos\@lobelia4cosmetics_12407.jpg

Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel Title     1000 non-null   object
 1   Channel Username  1000 non-null   object
 2   ID                1000 non-null   int64
 3   Message           970 non-null    object
 4   Date              1000 non-null   object
 5   Media Path        1000 non-null   object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

None

Describe the DataFrame:

,Channel Title,Channel Username,ID,Message,Date,Media Path
count,1000,1000,1000.000000,970,1000,1000
unique,1,1,NaN,167,199,1000
top,Lobelia pharmacy and cosmetics,@lobelia4cosmetics,NaN,NIDO USA 2.2KG\nPrice 5900 birr \nTelegram htt...,2024-10-08 04:35:59+00:00,photos\@lobelia4cosmetics_12411.jpg
freq,1000,1000,NaN,37,25,1
mean,NaN,NaN,11895.805000,NaN,NaN,NaN
std,NaN,NaN,296.637541,NaN,NaN,NaN
min,NaN,NaN,11386.000000,NaN,NaN,NaN
25%,NaN,NaN,11639.750000,NaN,NaN,NaN
50%,NaN,NaN,11890.500000,NaN,NaN,NaN
75%,NaN,NaN,12153.250000,NaN,NaN,NaN
max,NaN,NaN,12411.000000,NaN,NaN,NaN

================================================================================

In [9]:
# Analyze yetenaweg dataset
print("Analyzing yetenaweg dataset")
analyze_data('../Telegram_Scraper/yetenaweg_data.csv')
print("="*80)

Analyzing yetenaweg dataset
Data from ../Telegram_Scraper/yetenaweg_data.csv

Head of the DataFrame:

,Channel Title,Channel Username,ID,Message,Date,Media Path
0,·ã®·å§·äì ·ãà·åç - ·ã®·å§·äì ·àò·à®·åÉ,@yetenaweg,1181,NaN,2024-10-06 16:26:40+00:00,NaN
1,·ã®·å§·äì ·ãà·åç - ·ã®·å§·äì ·àò·à®·åÉ,@yetenaweg,1180,·â∞·åÄ·àù·àØ·àç !!,2024-10-06 15:03:40+00:00,NaN
2,·ã®·å§·äì ·ãà·åç - ·ã®·å§·äì ·àò·à®·åÉ,@yetenaweg,1179,NaN,2024-10-06 14:58:28+00:00,NaN
3,·ã®·å§·äì ·ãà·åç - ·ã®·å§·äì ·àò·à®·åÉ,@yetenaweg,1178,NaN,2024-10-04 13:14:17+00:00,photos\@yetenaweg_1178.jpg
4,·ã®·å§·äì ·ãà·åç - ·ã®·å§·äì ·àò·à®·åÉ,@yetenaweg,1177,NaN,2024-10-04 13:14:17+00:00,photos\@yetenaweg_1177.jpg

Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel Title     136 non-null    object
 1   Channel Username  136 non-null    object
 2   ID                136 non-null    int64
 3   Message           53 non-null     object
 4   Date              136 non-null    object
 5   Media Path        101 non-null    object
dtypes: int64(1), object(5)
memory usage: 6.5+ KB

None

Describe the DataFrame:

,Channel Title,Channel Username,ID,Message,Date,Media Path
count,136,136,136.000000,53,136,101
unique,1,1,NaN,48,109,101
top,·ã®·å§·äì ·ãà·åç - ·ã®·å§·äì ·àò·à®·åÉ,@yetenaweg,NaN,·â∞·åÄ·àù·àØ·àç !!,2024-08-19 16:25:15+00:00,photos\@yetenaweg_1178.jpg
freq,136,136,NaN,6,2,1
mean,NaN,NaN,1108.838235,NaN,NaN,NaN
std,NaN,NaN,41.762684,NaN,NaN,NaN
min,NaN,NaN,1032.000000,NaN,NaN,NaN
25%,NaN,NaN,1073.750000,NaN,NaN,NaN
50%,NaN,NaN,1108.500000,NaN,NaN,NaN
75%,NaN,NaN,1145.250000,NaN,NaN,NaN
max,NaN,NaN,1181.000000,NaN,NaN,NaN

================================================================================

In [10]:
# Analyze imageoflobeli dataset
print("Analyzing imageoflobeli dataset")
analyze_data('imageoflobeli.csv')
print("="*80)

Analyzing imageoflobeli dataset
Data from imageoflobeli.csv

Head of the DataFrame:

,1.840000000000000000e+02,1.830000000000000000e+02,1.780000000000000000e+02,1.760000000000000000e+02,1.720000000000000000e+02,1.790000000000000000e+02,1.800000000000000000e+02,1.710000000000000000e+02,1.680000000000000000e+02,1.660000000000000000e+02,...,5.300000000000000000e+01.84,5.700000000000000000e+01.179,5.500000000000000000e+01.218,5.300000000000000000e+01.85,5.600000000000000000e+01.394,5.500000000000000000e+01.219,5.300000000000000000e+01.86,5.600000000000000000e+01.395,5.200000000000000000e+01.74,5.400000000000000000e+01.144
0,118.0,118.0,118.0,118.0,118.0,118.0,118.0,118.0,118.0,118.0,...,118.0,118.0,118.0,118.0,118.0,118.0,118.0,118.0,118.0,118.0
1,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,...,36.0,36.0,36.0,36.0,36.0,36.0,36.0,36.0,36.0,36.0
2,55.0,55.0,56.0,56.0,55.0,55.0,55.0,55.0,55.0,55.0,...,219.0,219.0,219.0,219.0,219.0,219.0,219.0,219.0,219.0,214.0
3,118.0,118.0,118.0,118.0,118.0,118.0,118.0,118.0,118.0,118.0,...,118.0,118.0,118.0,118.0,118.0,118.0,118.0,118.0,118.0,118.0
4,44.0,44.0,44.0,44.0,44.0,44.0,44.0,44.0,44.0,44.0,...,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0

Info of the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Columns: 10000 entries, 1.840000000000000000e+02 to 5.400000000000000000e+01.144
dtypes: float64(10000)
memory usage: 196.8 MB

None

Describe the DataFrame:

,1.840000000000000000e+02,1.830000000000000000e+02,1.780000000000000000e+02,1.760000000000000000e+02,1.720000000000000000e+02,1.790000000000000000e+02,1.800000000000000000e+02,1.710000000000000000e+02,1.680000000000000000e+02,1.660000000000000000e+02,...,5.300000000000000000e+01.84,5.700000000000000000e+01.179,5.500000000000000000e+01.218,5.300000000000000000e+01.85,5.600000000000000000e+01.394,5.500000000000000000e+01.219,5.300000000000000000e+01.86,5.600000000000000000e+01.395,5.200000000000000000e+01.74,5.400000000000000000e+01.144
count,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,...,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000,2580.000000
mean,188.618605,188.176357,187.840698,187.464729,187.572868,187.424031,187.319767,187.661628,185.570155,186.191085,...,178.790698,177.425581,177.668605,177.399612,179.022481,178.155814,177.273256,177.660465,175.889147,175.737597
std,87.667908,87.531386,87.059422,87.403087,87.068725,86.728222,86.824665,86.827876,87.660317,87.045644,...,87.752607,89.049408,89.185435,89.348005,88.461111,89.747799,89.622149,89.493561,90.565721,90.538793
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,143.000000,135.750000,136.000000,133.500000,131.750000,131.000000,132.000000,128.000000,115.750000,114.000000,...,102.000000,102.000000,102.000000,95.000000,103.750000,103.000000,100.000000,102.000000,100.000000,98.000000
50%,236.000000,237.000000,233.000000,232.000000,233.000000,232.000000,233.000000,234.000000,233.000000,234.000000,...,221.500000,224.000000,225.000000,225.000000,224.000000,225.000000,225.000000,224.000000,224.000000,224.000000
75%,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,...,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000
max,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,...,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000

================================================================================